# Database Configurations
DB_SOURCE=postgresql://postgres:postgres@postgres:5432/cartify?sslmode=disable
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=cartify

# Redis Configurations
REDIS_URL=redis:6379

# Server Configurations
PORT=8080

# Secrets (JWT, external APIs, etc.)
JWT_SECRET=your_jwt_secret_here
CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME

# Stripe Configurations
STRIPE_SECRET_KEY=your_stripe_secret_key_here
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret_here
STRIPE_CURRENCY=usd